version: '2'

services:
    #configure camera on the computer first
    proxy-camera:
       image: proxy-camera:local
       network_mode: host
       group_add:
           - video
       ipc: host
       devices:
           - "/dev/video0:/dev/video0"
       environment:
           - DISPLAY=$DISPLAY
       #    - CLUON_SHAREDMEMORY_POSIX=1
       volumes:
           - /tmp/.X11-unix:/tmp/.X11-unix
           - "/dev/shm:/dev/shm"
       ulimits:
         memlock:
           soft: 5600000 #1516032
           hard: 5600000 
       command: "opendlv-device-camera-opencv --name=cam0 --bgr2rgb --cid=${CID} --camera=/dev/video0 --width=2560 --height=720 --bpp=24 --freq=30"

    cfsd18-perception-detectcone:
        image: "chalmersfsd/cfsd18-perception-detectcone:pre-release-c579d86"
        network_mode: "host"
        ipc: host
        working_dir: /opt/tmp
        environment:
          - DISPLAY=$DISPLAY
        volumes:
         - /tmp/.X11-unix:/tmp/.X11-unix
         - .:/opt/tmp
         - "/dev/shm:/dev/shm"
        depends_on:
          - proxy-camera
        ulimits:
          memlock:
            soft: 5600000 #1516032
            hard: 5600000
        command: "cfsd18-perception-detectcone --cid=${CID} --name=cam0 --width=2560 --height=720 --bpp=24 --threshold=0.8 
        --timeDiffMilliseconds=40 --separationTimeMs=20 --checkLidarMilliseconds=1000 --senderStamp=118 --attentionSenderStamp=116 
        --offline=0 --annotate=0 --stateMachineId=1401 --readyStateMachine=0 --forwardDetection=0 --fastThreshold=7 --orbPatchSize=15
        --matchDistance=1.5"


